@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500&subset=cyrillic');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

header {
    height: 480px;
    background-color: #333a42;
}

.gradient-text {

    background: linear-gradient(45deg, lightblue 33%,lightcyan 55%, deepskyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    text-transform: uppercase;

}

.header-name {
    display: inline-block;
    position: relative;
    left: 41px;
    top: 22px;
    width: 300px;
    color: #ffffff;
    font-size: 1.7em;
    font-weight: 500;
    margin: 0;
}

.header-block {
    display: flex;
    height: 370px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1024px;
    padding-top: 20px;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 500px;
    height: 30px;
    margin-left: 33%;
    text-align: left;
}

.nav a {
    width: 150px;
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}

.nav-link:nth-child(2n+1):hover {
    border-bottom: 2px solid lightcoral;
    color: lightcoral;
    transition: 0.1s;
}

.nav-link:nth-child(2n):hover {
    border-bottom: 2px solid lightblue;
    color: lightblue;
    transition: 0.1s;
}

header .nav .nav-link:nth-child(2n+1):active {
    border-bottom: 2px solid indianred;
    color: indianred;
    transition: 0.1s;
}

header .nav .nav-link:nth-child(2n):active {
    border-bottom: 2px solid deepskyblue;
    color: deepskyblue;
    transition: 0.2s;
}

.header-photo {
    height: 250px;
    margin-top: 90px;
}

.photo-background {
    height: 209px;
    width: 209px;
    background-color: #d7443e;
    border-radius: 50%;
    max-width: 250px;
}

.header-skills {
    margin-top: 91px;
    margin-left: 10px;
    flex-shrink: 10;
}

.header-skills p {
    color: #ffffff;
    width: 620px;
    height: 192px;
    text-align: left;
    font-size: 1.5em;
    line-height: 1.25;
    font-weight: 500;
}

.projects {
    height: 480px;
    background-color: #f1ece9;
}

.reviews-heading,
.projects-heading {
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.7em;
    font-weight: 500;
}

.my-projects {
    width: 60%;
    height: 100%;
    background-color: #4a90e2;
    margin-right: 42px;
    align-self: center;
    flex-shrink: 6;
    margin-top: 5px;
}

.projects-view {
    width: 60.5%;
    height: 100px;
    align-self: center;
    margin-right: 42px;
    flex-shrink: 8;
    margin-bottom: 35px;
}

.projects-block {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 1024px;
    height: 400px;
    margin: 0 auto;
}

.projects-view h3 {
    display: inline-flex;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 15px;
}

.number {
    padding-left: 48%;
    text-align: right;
    font-weight: 400;
    font-size: 0.8em;
}

.reviews {

    height: 460px;
    background-color: #f1ece9;
}

.border {
    border-top: 1px solid #a6a5a1;
    max-width: 95%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    height: 380px;
    align-items: center;
}

.reviews-photo {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: #333a42;
    margin-right: 15px;
}

.reviews-block {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-wrap: wrap;
    height: 150px;
    width: 460px;
}

.reviews-block p {
    width: 300px;
    margin: 0;
    font-size: 1.2em;
}

.reviews-block h3 {
    height: 32px;
    width: 240px;
    margin-bottom: 8px;
    margin-top: 0;
}

.feedback {
    height: 510px;
    background-color: #f1ece9;
}

.feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    height: 450px;
    align-items: center;
}

.contacts-form,
.contacts {
    width: 460px;
    height: 310px;
}

.mail a {
    text-decoration: none;
    font-weight: 500;
    color: #d7443e;
}

.mail a:hover {
    text-decoration: underline;
    color: lightcoral;
    transition: 0.2s;
}

.mail a:active {
    color: darkred;
}

.contacts h2 {
    padding-bottom: 32px;
    font-size: 1.6em;
    font-weight: 500;
}

.contacts p {
    font-weight: 500;
    font-size: 1.6em;
    text-align: left;
    line-height: 1.25;
}

.color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    width: 200px;
    margin-top: 64px;
}

.color-1,
.color-2,
.color-3 {
    width: 32px;
    height: 32px;
}

.color-1 {
    background-color: #4b76a5;
    border: 0;
    cursor: pointer;
}

.color-2 {
    background-color: #415e97;
    border: 0;
    cursor: pointer;
}

.color-3 {
    background-color: #cb358e;
    border: 0;
    cursor: pointer;
}

.contacts-form h2 {
    padding-bottom: 22px;
    font-size: 1.6em;
    font-weight: 500;
}

.feedback-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name {
    position: relative;
    top: -10px;
}

.email {
    position: relative;
    top: -10px;
    padding-left: 207px;
    padding-bottom: 10px;
}

.message {
    padding-right: 375px;
    padding-top: 13px;
    padding-bottom: 10px;
}

input {
    width: 218px;
    height: 29px;
    border: 1px solid #333a42;
    background-color: #f1ece9;
}

textarea {
    background-color: #f1ece9;
    border: 1px solid #333a42;
    resize: none;
    width: 460px;
    height: 144px;
}

.btn {
    width: 140px;
    height: 32px;
    margin-top: 34px;
    border: 1px solid #333a42;
    background-color: #333a42;
    color: #ffffff;
    font-size: 1.1em;
}

.btn:hover {
    color: lightblue;
    cursor: pointer;
    transition: 0.3s;
}

.btn:active {
    color: darkcyan;
    outline: none;
}

footer {
    height: 52px;
    background-color: #333a42;
}

